@using NorthwindWebsite.Infrastructure.Entities

<link rel="stylesheet" href="~/css/entities-from-api.css" />

@{
    const string requestUrl = "https://localhost:7087/api/categories";

    var client = new HttpClient();

    var categoriesList = new List<Category>();

    var response = await client.GetAsync(requestUrl);
    if (response.IsSuccessStatusCode)
    {
        categoriesList = await response.Content.ReadFromJsonAsync<List<Category>>();
    }
}

<h1>Categories from API with .Net Client</h1>

<ul>
    @foreach (var category in categoriesList)
    {
        <li class="list-item">@category.CategoryName</li>
    }
</ul>