@using NorthwindWebsite.Business.Models

@model CategoriesListDto

@{
    ViewData["Title"] = "Categories";
}

<h1>Categories</h1>


@foreach (var category in Model.Categories)
{
    <h5>@category.CategoryName</h5>
}