@using NorthwindWebsite.Business.Models
@using NorthwindWebsite.Infrastructure.Entities

@model List<Category>

@{
    ViewData["Title"] = "Categories";
}

<h1>Categories</h1>


@foreach (var category in Model)
{
    <h5>@category.CategoryName</h5>
}