@{
    Layout = "_HomepageLayout";
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is created for .NET WEB Mentoring Program at Epam Solutions.</p>
    <p>
        This is a non-commercial training project for Epam. This application is built using Northwind test database.
        The project involves exploring ASP.NET, ASP.NET Core MVC, Controllers, Applications, Requests, RazorPages, Web API, Security, Hosting and Deploy.
    </p>
    <p>
        Disclaimer: All pictures and other materials are used for demonstration purposes only and are not intended for any commercial purpose.
    </p>
</div>
