
<h1>Admin section</h1>

<table>
    <tr>
        <td><a asp-controller="Admin" asp-action="Users">List of users</a></td>
    </tr>
    <tr>
        <td>
            <a asp-area="" asp-controller="Roles" asp-action="Index">Roles management</a>
        </td>
    </tr>
</table>
